<div class = "container">
    <h1>{{ titleList }}</h1>
    <table class = "table table-striped table-bordered">
        <tr style = "background: rgba(220, 228, 224, 0);" >
            <th>NOME</th>
            <th>ANO</th>
            <th>GÊNERO</th>
            <th>CLASSIFICAÇÃO</th>
            <th>DURAÇÃO</th>
            <th>IDIOMA</th>
            <th>PRODUTORA</th>
            <th>PAÍS DE ORIGEM</th>
        </tr>
        <tr *ngFor="let films of film">
            <td>{{ films.nome }}</td>
            <td>{{ films.ano }}</td>
            <td>{{ films.genero }}</td>
            <td>{{ films.classificacao }}</td>
            <td>{{ films.duracao }}</td>
            <td>{{ films.idioma }}</td>
            <td>{{ films.produtora }}</td>
            <td>{{ films.pais }}</td>    
        </tr>
    </table>
</div>

