<div class="container">

    <main class="px-6">
        <h1>{{ titleHome }}</h1>
        <p class="lead">A Vídeo Store One é um modelo de uma página web para vídeo locadoras de filmes.</p>
        <p class="lead"> Sabe como é ter mais de 2.000 filmes para assistir quando quiser? Faça o teste com os primeiros 30 dias grátis e curta o streaming mais completo do cinema. para a manutenção e  de páginas iniciais simples e bonitas. Baixe, edite o texto e adicione sua própria foto de fundo em tela cheia para torná-la sua.</p>
        <p class="lead">
            <a class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button href="https://assine.telecine.com.br/" class = "btn btn-primary">Saber mais</button>
                </div>
            </a>
         </p>
    </main>

</div>

