<div class="container">
    <h1>{{ titleAdd }}</h1>
    <div>
        <form [formGroup]="form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome do Filme" formControlName="nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Ano</label>
                    <input type="text" class="form-control" id="ano" placeholder="2010" formControlName="ano">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Gênero</label>
                    <input type="text" class="form-control" id="genero" placeholder="Drama - Comédia" formControlName="genero">
                </div>
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Classificação</label>
                    <input type="text" class="form-control" id="classificacao" placeholder="Todas as idades" formControlName="classificacao">
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Duração</label>
                    <input type="text" class="form-control" id="duracao" name="duracao" value="00:00" required formControlName="duracao">
                </div>
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Idioma</label>
                    <input type="text" class="form-control" id="idioma" placeholder="Inglês - Português (Brasil)" formControlName="idioma">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="validationCustom01">Produtora</label>
                    <input type="text" class="form-control" id="produtora" placeholder="Actions Films" formControlName="produtora">
                </div>
                <div class="form-group col-md-6">
                    <label for="validationCustom01">País</label>
                    <input type="text" class="form-control" id="pais" placeholder="EUA" formControlName="pais">
                </div>
            </div>
            <div>
                <div class="col-sm-offset-2 col-sm-8">
                    <button type = "submit"  (click) = "onSubmit()" class = "btn btn-primary">Adicionar Filme</button>
                    <button type = "button"  (click) = "onCancel()" class = "btn btn-default">Cancelar</button>
                </div>
            </div>
          </form>
    </div>

    <div>
        <table class = "table table-striped table-bordered">
            <tr style = "background: rgba(220, 228, 224, 0);" >
                <th>ID</th>
                <th>NOME</th>
                <th>ANO</th>
                <th>GÊNERO</th>
                <th>CLASSIFICAÇÃO</th>
                <th>DURAÇÃO</th>
                <th>IDIOMA</th>
                <th>PRODUTORA</th>
                <th>PAÍS DE ORIGEM</th>
                <th>ACÕES</th>
            </tr>
            <tr *ngFor="let films of film">
                <td>{{ films.id }}</td>
                <td>{{ films.nome }}</td>
                <td>{{ films.ano }}</td>
                <td>{{ films.genero }}</td>
                <td>{{ films.classificacao }}</td>
                <td>{{ films.duracao }}</td>
                <td>{{ films.idioma }}</td>
                <td>{{ films.produtora }}</td>
                <td>{{ films.pais }}</td>
                <td>
                    <button  class="btn btn-success" routerLink="/edit/:id">Editar</button>
                    <button  class="btn btn-danger" title="delete film">Delete</button>
                </td>                  
            </tr>
        </table>
    </div> 

</div>
